/*Partie HEADER */

header {
    color: white;
}

.navbar {
    background-color: #444; /* Couleur de fond du header */
    padding-top: 30rem;
  }
  
  .navbar-brand {
    font-weight: 600; /* Personnalisation du logo textuel */
  }
  
  .nav-link {
    color: #eee !important; /* Couleur des liens */
    text-transform: uppercase;
  }
  
  .nav-link:hover {
    color: white !important; /* Effet au survol */
  }

/*Partie FOOTER */

footer {
    background-color: #EEE; 
}

.col-md-3{
  text-align: left;
}

.copyright {
  background-color: #444;
  color:#EEE;
  padding: 10px;
}

.bi-chevron-right {
  color: #0d6efd;

}
.ft-link {
  color: #000000;
  text-decoration: none;
}